@media screen and (max-width: 600px){
    .bottom-navigation{
        width: 100% !important;    
        /*border-radius: 0px !important;            */
    }
}

.bottom-navigation{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 600px;
    height: 65px;
    background: #ffffff;
    box-shadow: 0px 0px 2px #989898;
    /*border-radius: 4px 0px 0px 0px !important;        */
    background: #009688;
}

.bottom-navigation button{
    height: 100%;
    background: none;
    text-align: center;
    border: none;
    width: 25%;
    color: #ffffff;
}

.bottom-navigation button.active{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #00897B;
}

