.route-item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.route-item:hover{
    background: #ECEFF1;
}

    .route-item .route-title {
        font-weight: bold;
        font-size: 15px;
    }